@model BookRental.Data.Books

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Books</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherId" class="control-label"></label>
                <input asp-for="PublisherId" class="form-control" />
                <span asp-validation-for="PublisherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishedDate" class="control-label"></label>
                <input asp-for="PublishedDate" class="form-control" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <input asp-for="GenreId" class="form-control" />
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentCondition" class="control-label"></label>
                <input asp-for="CurrentCondition" class="form-control" />
                <span asp-validation-for="CurrentCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallNumber" class="control-label"></label>
                <input asp-for="CallNumber" class="form-control" />
                <span asp-validation-for="CallNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalRecordsId" class="control-label"></label>
                <input asp-for="RentalRecordsId" class="form-control" />
                <span asp-validation-for="RentalRecordsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
